.gift-order{
    background-color:#83b735;
}
.icon{
    font-size: 30px;
}

.dropbtn {
    background-color: #83b735;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    width: 225px;
    margin: 0;
    padding: 0;
    /* display: inline-block; */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
   .dropdown-content a:hover {background-color:white;}
  
  .dropdown:hover .dropdown-content {display:block;}
  .form-search{
      border:3px solid #83b735;
      border-radius:20px;
      width: 700px;

  }
  .form-controls{
      color:#83b735 ;
  }
  .form-search a{
      margin-left: 430px;
  }
  .login{
      text-decoration: none;
      color:black;
      margin-right: 5px;
  }
/* header-end */
/* section item  */
.item div img{
    padding: 5px;
}
.item div img:hover{
    transform:scale(1.2);
    transition: transform 0.5s ease-in-out;
}
.product-price{
    background-color:skyblue;
    padding:  5px;
    width:50px;
    margin: 5px;
}
.product{
    background-color:#83b735;
    color: white;
    padding: 8px 20px;
    margin: 0;
}
.badge{
    background-color:green;
    border-radius: 50%;
    padding: 15px;
    font-size: 15px;
    margin-right: 10px;
}
.blog-post{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.blog img{
    height: 250px;
    width: 350px;
    margin-right: 30px;
}
.blog{
    position:relative;
}

.blog-details{
    position: absolute;
    top:80px;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
    /* transform: scale(1.2);
    transition:transform 2s ease-in-out; */
     display: none;
}
.blog:hover .blog-details{
    display: block;
    width:200px;
    
}
.promise div{
    height: 250px;
    width: 350px;
    margin-right: 30px;
   position:relative;
   overflow: hidden;
}
.promise-pic{
    width:100%;
}
.promise div:hover .promise-pic{
    transform:scale(1.1);
    transition: transform 0.5s ease-out; 
}
.facilities{
    background-color: rgb(83, 104, 48);
}
footer{
    background-color: rgb(5, 61, 30);
    padding-bottom: 20px;
}
.footer-icon a{
    color:white;
    font-size: 20px;
    margin-right: 20px;
}
.foot-icon a{
    color:rgb(90, 117, 42);
}
.email{
    background-color:rgb(5, 61, 30);
    border:1px solid white;
    color:white;
    width:250px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 20px;
}
.button{
    width: 100px;
    padding: 5px;
}
body{
    margin:0;
}
.instragram{
    color:rgb(104, 50, 25);
}
.utube{
    color:red;
}